.anchor {
    -fx-pref-width: 1024px;
    -fx-pref-height: 768px;
    -fx-background-color: #f0f2f5;
}
.big-button {
    -fx-pref-width: 200px;
}
.normal-button {
    -fx-pref-width: 180px;
    -fx-pref-height: 40px;
    -fx-font-family: "Roboto Light";
    -fx-font-size: 14;
}