@font-face {
    font-family: "Mochary PERSONAL USE ONLY";
    src: url('../fonts/Mochary.ttf');
}
@font-face {
    font-family: "Young Heart";
    src: url('../fonts/YoungHeart.ttf');
}
@font-face {
    font-family: "JetBrains Mono Regular";
    src: url('../fonts/JetBrainsMono-Regular.ttf');
}
@font-face {
    font-family: "JetBrains Mono Bold";
    src: url('../fonts/JetBrainsMono-Bold.ttf');
}
.anchor {
    -fx-pref-width: 1024px;
    -fx-pref-height: 768px;
    -fx-alignment: center;
    -fx-spacing: 20px;
    -fx-background-color: #f0f2f5;
}
.title-success {
    -fx-text-fill: #1d4c84;
    -fx-font-family: "Mochary PERSONAL USE ONLY";
    -fx-font-size: 48;
    -fx-font-weight: 700;
}
.title-error {
    -fx-text-fill: #e3383e;
    -fx-font-family: "Mochary PERSONAL USE ONLY";
    -fx-font-size: 48;
    -fx-font-weight: 700;
}
.message {
    -fx-text-fill: #000;
    -fx-font-family: "JetBrains Mono Bold";
    -fx-font-size: 14;
}
.button {
    -fx-pref-width: 100px;
    -fx-pref-height: 40px;
    -fx-background-color: #f0f2f5;
    -fx-border-color: #1d4c84;
    -fx-text-fill: #1d4c84;
    -fx-border-width: 2;
    -fx-font-family: "Young Heart";
    -fx-font-size: 18;
    -fx-font-weight: 700;
}
.button:hover {
    -fx-background-color: #1d4c84;
    -fx-text-fill: #f0f2f5;
}